@media screen {

  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #navigation {
    width: 500px;
    position: fixed;
    overflow: auto;
    top: 0;
    left: -525px;

    background: #ECECEC;
    min-height: 100%;
    height: 100%;
    height: 100vh;

    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 9px;
    padding-top: 10px;

    transition: left .2s ease-out;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    z-index: 1;
  }

  #navigation.open {
    left: 0;
  }

  #opener {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    stroke: #E2E2E2;
    fill: #E2E2E2;
  }

  #opener:hover {
    stroke: #777;
    fill: #777;
  }

  #header {
    height: 30px;
  }

  #update {
    float: right;
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: calc(100vh - 24px);
    box-sizing: border-box;
    background: #fbfbfb;
    box-shadow: inset 0 0 1px rgba(0,0,0,.8);
  }

  .material-icons {
    color: #333;
    cursor: pointer;
  }

  .material-icons:hover {
    color: #525252;
  }

  .material-icons:active {
    color: #000;
  }

  .pagedjs_page {
    box-shadow: 0 0 4px #ccc;
  }

}
